<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()">
        <ion-icon slot="icon-only"
          name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="expenseForm">

    <ion-list class="add-expense-list">

      <ion-item id="open-modal"
        lines="none"
        color="light">
        <ion-label position="stacked">Choose Date</ion-label>
        <ion-input class="ion-text-start"
          [value]="(expenseForm.get('date')?.value | date: 'MMM d, yyyy')"> </ion-input>
      </ion-item>

      <ion-item lines="none"
        color="light">
        <ion-label position="stacked">Expense Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item lines="none"
        color="light">
        <ion-label position="stacked">Amount</ion-label>
        <ion-input formControlName="amount"></ion-input>
      </ion-item>

      <ion-item lines="none"
        color="light">
        <ion-label position="stacked">Expense Category</ion-label>
        <div>
          <ion-button slot="start"
            fill="outline"
            color="dark">
            <ion-icon name="add"
              slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button slot="start">Salary</ion-button>
          <ion-button slot="start">Rewards</ion-button>
        </div>
      </ion-item>

      <ion-item lines="none"
        color="light">
        <ion-label position="stacked">Expense Resit Photo</ion-label>
        <ion-button class="photo-btn"
          expand="block"
          fill="outline"
          color="medium">
          <ion-icon name="camera"
            slot="start"></ion-icon>
          Add Photo
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content scrollY="false">
          <ion-datetime presentation="date"
            #datetimemodal
            size="cover"
            formControlName="date">
            <span slot="title">Select a Date</span>
            <ion-buttons slot="buttons">
              <ion-button (click)="datetimemodal.cancel(true)">
                Dismiss
              </ion-button>
              <ion-button (click)="datetimemodal.confirm(true)"
                color="primary">
                Select
              </ion-button>
            </ion-buttons>
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

  </form>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block"
      (click)="expense()">Add Expense</ion-button>
  </ion-toolbar>
</ion-footer>
