<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button>

      </ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="main-grid">
    <ion-list class="login-list ion-margin">

      <ion-list-header>
        <ion-label>Expense</ion-label>
      </ion-list-header>

      <div class="social-login-button">
        <ion-button color="primary" expand="block">
          <ion-img src="/assets/images/search.svg"></ion-img>
          <span class="social-name">Login with Gmail</span>
        </ion-button>

        <ion-button color="dark" expand="block">
          <ion-img src="/assets/images/apple.png"></ion-img>
          <span class="social-name ion-margin-starts">Signin with Apple</span>
        </ion-button>
      </div>

      <p class="sub-line ion-text-center">or</p>

      <form class="social-login-wrapper ion-margin-top">
        <ion-item lines="none" mode="ios">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item lines="none" mode="ios">
          <ion-label position="stacked">Password</ion-label>
          <div class="number-block">
            <ion-input type="number" [type]="ismyTextFieldType ? 'text' : 'password'"></ion-input>
            <ion-button class="ion-no-margin" slot="end" color="light" (click)="togglePassword()">
              <ion-icon slot="end" color="medium" size="small" [name]="ismyTextFieldType ? 'eye-off' : 'eye'">
              </ion-icon>
            </ion-button>
          </div>
        </ion-item>

        <ion-button class="ion-margin-top" expand="block" [routerLink]="['/overview']">
          Sign In
        </ion-button>
        <ion-button class="ion-margin-top" color="dakr" fill="clear" expand="block">Forgot your password?</ion-button>
      </form>
    </ion-list>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar class="ion-text-center" fixed>
    <ion-note color="dark">
      Don't have an account? <ion-text class="pointer" color="dark">Sign up</ion-text>
    </ion-note>
  </ion-toolbar>
</ion-footer>
