<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form [formGroup]="expenseForm">
    <ion-list class="add-expense-list">
      <ion-item lines="none" color="light" id="open-date-modal">
        <ion-label position="stacked">Choose Date</ion-label>
        <!-- <ion-input type="text" formControlName="date" (click)="date()"></ion-input> -->
        <ion-input type="text" placeholder="Set date" formControlName="date" [value]="formattedString"></ion-input>
      </ion-item>

      <ion-item lines="none" color="light">
        <ion-label position="stacked">Expense Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item lines="none" color="light">
        <ion-label position="stacked">Amount</ion-label>
        <div class="income-block ion-padding-end">
          <ion-input type="text" formControlName="amount" value=""></ion-input>
          <ion-icon name="logo-usd" slot="end" color="medium" size="small">
          </ion-icon>
        </div>
      </ion-item>

      <ion-item lines="none" color="light">
        <ion-label position="stacked">Expense Category</ion-label>
        <div>
          <ion-button slot="start" fill="outline" color="medium">
            <ion-icon name="add" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button slot="start"> Health </ion-button>
          <ion-button color="secondary" slot="start"> Grocery </ion-button>
        </div>
      </ion-item>
      <ion-item lines="none" color="light">
        <ion-label position="stacked">Expense Resit Photo</ion-label>
        <ion-button class="photo-btn" expand="block" fill="outline" color="medium">
          <ion-icon name="camera" slot="start"></ion-icon>
          Add Photo
        </ion-button>
      </ion-item>
    </ion-list>
  </form>

  <ion-modal trigger="open-date-modal">
    <ion-content scrollY="false">
      <ion-datetime presentation="date" size="cover" #datetimemodal [value]="dateValue"
        (ionChange)="modalDateChanged(datetimemodal.value)">
        <span slot="title">Select a Date</span>
      </ion-datetime>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-button expand="block" (click)="dismiss()">Set Date {{ formattedString }}</ion-button>
      </ion-toolbar>
    </ion-footer>
  </ion-modal>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="expense()">Add Expense</ion-button>
  </ion-toolbar>
</ion-footer>
