.swiper-container {
  background: var(--ion-color-light);
}

.overview-swiper-wrapper {
  padding: 20px 0px !important;
  ion-card {
    min-height: 150px !important;
    min-width: 120px !important;
    max-width: 120px !important;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    ion-card-subtitle {
      font-size: 12px;
    }

    ion-card-content {
      color: var(--ion-color-dark);
    }
  }

  .select {
    background: var(--ion-color-secondary);

    ion-icon,
    ion-card-subtitle,
    ion-card-content {
      color: var(--ion-color-white);
    }
  }
}

.overview-swiper-wrapper2 {
  padding: 20px 0px !important;
  ion-card {
    min-height: 80px !important;
    min-width: 120px !important;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    ion-card-subtitle {
      font-size: 12px;
    }

    ion-card-content {
      color: var(--ion-color-dark);
    }
  }

  .select {
    background: var(--ion-color-secondary);

    ion-icon,
    ion-card-subtitle,
    ion-card-content {
      color: var(--ion-color-white);
    }
  }
}

.latest-entries-list {
  height: 500px !important;
  overflow-y: auto;
  ion-button {
    --background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.5);
  }
}
