.wave {
  position: relative;
  background: var(--ion-color-light);
  // &::before {
  //   position: absolute;
  //   content: url('/assets/images/svg2.png');
  //   width: 100%;
  //   height: 100px;
  // }
}


.overview-swiper-wrapper {
  ion-card {
    min-height: 145px !important;
    min-width: 100px !important;
    box-shadow: none;
    border-radius: 10px;

    ion-card-subtitle {
      font-size: 12px;
    }

    ion-card-content {
      color: var(--ion-color-dark);
    }
  }

  .select {
    background: var(--ion-color-secondary);

    ion-icon,
    ion-card-subtitle,
    ion-card-content {
      color: var(--ion-color-white);
    }
  }
}

.overview-category-wrapper {
  ion-card {
    border-radius: 10px;

    ion-card-subtitle {
      font-size: 12px;
    }

    ion-card-content {
      color: var(--ion-color-dark);
    }
  }
}

.latest-entries-list {
  ion-button {
    --background: rgba(var(--ion-color-primary-rgb, 0, 0, 0), 0.5);
  }
}
