<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"></ion-back-button>
    </ion-buttons>
    <ion-title>Add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wave">
    <ion-row>
      <ion-col>
        <ion-card class="ion-text-center"
          style="min-height: 100px;"
          (click)="addIncome()">
          <ion-card-header class="ion-padding">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-card-subtitle class="ion-text-capitalize">Add Income</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center"
          style="min-height: 100px;"
          (click)="addExpense()">
          <ion-card-header class="ion-padding">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-card-subtitle class="ion-text-capitalize">Add Expense</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="ion-text-center"
          style="min-height: 100px;"
          (click)="addGoal()">
          <ion-card-header class="ion-padding">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-card-subtitle class="ion-text-capitalize">Add Goal</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-img src="/assets/images/svg.png"></ion-img>
  </div>

  <ion-list class="latest-entries-list">
    <ion-item lines="none">
      <ion-label>
        <b>Latest Entries</b>
      </ion-label>
      <ion-button slot="end"
        size="small"
        [routerLink]="['/entries-list']">
        <ion-icon name="ellipsis-horizontal-outline"
          color="secondary"></ion-icon>
      </ion-button>
    </ion-item>

    <ng-container *ngFor="let num of [].constructor(5)">
      <et-entries-view [name]="'Food'"
        [date]="'12/90/1990'"
        [paymentMethod]="'Google Pay'">
      </et-entries-view>
    </ng-container>
  </ion-list>

</ion-content>
